$base-color: hsl(0, 0%, 11%);


$component-container: hsl(0, 0%, 20%);

$card-background: #0000004b;
$card: #262626;

$buy-btn: #90be6d;
$sell-btn: #f47e7e;
$more-info-btn: #EFF8FF;

$font-color: #ffffff;

$pokedollar-color: #f9c74f;

$icon-color: rgb(189, 53, 53);

$card-color: #262626;