$base-color: hsl(0, 0%, 11%);


$component-container: hsl(0, 0%, 20%);

$card-background: #000000;
$card: #262626;

$buy-btn: #90be6d;
$sell-btn: #f47e7e;

$font-color: #ffffff;

$pokedollar-color: #f9c74f;