$base-color: hsl(0, 0%, 11%);
$secondary-color: #e3dac9;

$component-container: hsl(0, 0%, 20%);

$card-background: #0000004b;
$card: #262626;
$quantity-color: #000;

$buy-btn: #90be6d;
$sell-btn: #f47e7e;
$more-info-btn: #EFF8FF;

$font-color: #ffffff;

$pokedollar-color: #CA9007;

$icon-color: rgb(189, 53, 53);

$card-color: #262626;

$fire:#FBA54C;
$water:#539DDF;
$ice:#57D6C1;
$grass:#5FBD58;
$bug:#92BC2C;
$dark:#595761;
$ghost:#5F6DBC;
$dragon:#0C69C8;
$electric:#F2D94E;
$fairy:#EE90E6;
$flying:#A1BBEC;
$normal:#A0A29F;
$poison:#B763CF;
$psychic:#FA8581;
$rock:#C9BB8A;
$steel:#5695A3;
$ground:#DA7C4D;
$fighting:#D3425F;
