@import '../colorschemes/colors';
@import '../typography/fonts';


// Need min max on the last two columns
.gamepage-container {
    display: grid;
    height: 100vh;
    width: 100vw;
    background-color: $base-color;
    grid-gap:0.8em;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 1fr 0.5fr;
    position: fixed;
    padding: 0.8em;
}


