@import '../colorschemes/colors';
@import '../typography/fonts';

.main-container,
.main-container-active,
.main-container-inactive {
    height: 100vh;
    width: 100vw;
    background-color: $base-color;
    display: grid;
    grid-row-gap: 0.8em;
    grid-column-gap: 0;
    grid-template-columns: 0px 1fr;
    grid-template-rows: 100px 50px 1fr;
    padding: 0.8em;
    position: fixed;
}

.main-container-active {
    animation-name: grid-active;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

.main-container-inactive {
    animation-name: grid-inactive;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

@keyframes grid-active {
    0% {
        grid-template-columns: 0px 1fr;
        grid-column-gap: 0;
    }

    100% {
        grid-template-columns: 450px 1fr;
        grid-column-gap: 0.8em;
    }
}

@keyframes grid-inactive {
    0% {
        grid-template-columns: 450px 1fr;
        grid-column-gap: 0.8em;
    }

    100% {
        grid-template-columns: 0px 1fr;
        grid-column-gap: 0;
    }
}


