@import '../colorschemes/colors';
@import '../typography/fonts';

.main-container {
    height: 100vh;
    width: 100vw;
    background-color: $base-color;
    display: grid;
    grid-gap: 0.8em;
    grid-template-columns: 450px 1fr;
    grid-template-rows: 100px 50px 1fr;
    padding: 0.8em;
    position: fixed;
}

