@import "../colorschemes/colors";
@import "../typography/fonts";

.navigation {
  background-color: $component-container;
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  color: $font-color;

  &-logo {
    margin: 1em;
    color: $font-color;

    h4{
        color: $font-color;
    }
  }

  &-links {
    display: flex;
    align-items: center;
  }
}

.card-links {
  display: flex;

  h4 {
    color: $font-color;
  }
}

.nav-link {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 0 5px;
  justify-content: center;

  .underline {
    width: 95%;
    height: 1px;
    background-color: white;
    margin: auto;
    border-radius: 10px;
  }
}

.blink,
.coin-link {
  margin-left: 1em;
  display: flex;
  border-radius: 10px;
  background-color: $pokedollar-color;
  color: $font-color;
  align-items: baseline;

  &-total {
    padding: 0 10px;
  }

  &-earn {
    background-color: $font-color;
    color: $pokedollar-color;
    border-radius: 8.2px;
    padding: 0 5px;
  }

}

.blink {
  animation: blinker 1s linear infinite;
  background-color: $sell-btn;
}

.blink h4 {
  color: $icon-color;
}


@keyframes blinker {
  50% {
    opacity: 0;
  }
}



