@import '../colorschemes/colors';
@import '../typography/fonts';

.card {
    background-color: $card-color;
    border-radius: 10px;
    padding: 15px;

    &-header {
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    &-fire {    
        background-color: $card-color;
        border-radius: 10px;
        padding: 15px;
        box-shadow: 5px 5px 5px $fire;
    }
    &-water {    
        background-color: $card-color;
        border-radius: 10px;
        padding: 15px;
        box-shadow: 5px 5px 5px $water;
    }
    &-bug {    
        background-color: $card-color;
        border-radius: 10px;
        padding: 15px;
        box-shadow: 5px 5px 5px $bug;
    }
    &-grass {    
        background-color: $card-color;
        border-radius: 10px;
        padding: 15px;
        box-shadow: 5px 5px 5px $grass;
    }
    &-fairy {    
        background-color: $card-color;
        border-radius: 10px;
        padding: 15px;
        box-shadow: 5px 5px 5px $fairy;
    }
    &-fighting {    
        background-color: $card-color;
        border-radius: 10px;
        padding: 15px;
        box-shadow: 5px 5px 5px $fighting;
    }
    &-dark {    
        background-color: $card-color;
        border-radius: 10px;
        padding: 15px;
        box-shadow: 5px 5px 5px $dark;
    }
    &-ice {    
        background-color: $card-color;
        border-radius: 10px;
        padding: 15px;
        box-shadow: 5px 5px 5px $ice;
    }
    &-normal {    
        background-color: $card-color;
        border-radius: 10px;
        padding: 15px;
        box-shadow: 5px 5px 5px $normal;
    }
    &-poison {    
        background-color: $card-color;
        border-radius: 10px;
        padding: 15px;
        box-shadow: 5px 5px 5px $poison;
    }
    &-electric {    
        background-color: $card-color;
        border-radius: 10px;
        padding: 15px;
        box-shadow: 5px 5px 5px $electric;
    }
    &-steel {    
        background-color: $card-color;
        border-radius: 10px;
        padding: 15px;
        box-shadow: 5px 5px 5px $steel;
    }
    &-dragon {    
        background-color: $card-color;
        border-radius: 10px;
        padding: 15px;
        box-shadow: 5px 5px 5px $dragon;
    }
    &-ghost {    
        background-color: $card-color;
        border-radius: 10px;
        padding: 15px;
        box-shadow: 5px 5px 5px $ghost;
    }
    &-psychic {    
        background-color: $card-color;
        border-radius: 10px;
        padding: 15px;
        box-shadow: 5px 5px 5px $psychic;
    }
    &-rock {    
        background-color: $card-color;
        border-radius: 10px;
        padding: 15px;
        box-shadow: 5px 5px 5px $rock;
    }
    &-flying {    
        background-color: $card-color;
        border-radius: 10px;
        padding: 15px;
        box-shadow: 5px 5px 5px $flying;
    }
    &-ground {    
        background-color: $card-color;
        border-radius: 10px;
        padding: 15px;
        box-shadow: 5px 5px 5px $ground;
    }
    

}

.type-id-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

}

.type-id {
    display: flex;
    align-items: center;
}

.pokemon-type {
    width: 15px;
    margin-right: 5px;
} 

.card-btns-container {
    overflow: hidden;
}

.card-btn {
    height: 25px;
    width: 100px;
    background-color: yellow;
    margin-bottom: 1px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transform: translateX(-100%);
}

.poke-value-btn {
    animation-delay: 0s;
    background-color: yellow;
}

.poke-buy-btn {
    animation-delay: 0.1s;
    background-color: green;
}

.poke-sell-btn {
    animation-delay: 0.2s;
    background-color: red;
}

.poke-value-btn,
.poke-buy-btn,
.poke-sell-btn {
    animation-name: slide-in;
    transform: translateX(-100%);
    opacity: 0;

}

.card-btn-active {
    animation-name: slide-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes slide-in {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

.card-btn-inactive {
    animation-name: slide-out;
    animation-duration: 0.5s;
    animation-fill-mode: backwards;

}

@keyframes slide-out {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }

    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}
