@import "../colorschemes/colors";
@import "../typography/fonts";

.card {
  background-color: $card-color;
  border-radius: 10px;
  padding: 15px;

  &-header {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &-fire {
    box-shadow: 1px 1px 9px $fire;
  }
  &-water {
    box-shadow: 1px 1px 9px $water;
  }
  &-bug {
    box-shadow: 1px 1px 9px $bug;
  }
  &-grass {
    box-shadow: 1px 1px 9px $grass;
  }
  &-fairy {
    box-shadow: 1px 1px 9px $fairy;
  }
  &-fighting {
    box-shadow: 1px 1px 9px $fighting;
  }
  &-dark {
    box-shadow: 1px 1px 9px $dark;
  }
  &-ice {
    box-shadow: 1px 1px 9px $ice;
  }
  &-normal {
    box-shadow: 1px 1px 9px $normal;
  }
  &-poison {
    box-shadow: 1px 1px 9px $poison;
  }
  &-electric {
    box-shadow: 1px 1px 9px $electric;
  }
  &-steel {
    box-shadow: 1px 1px 9px $steel;
  }
  &-dragon {
    box-shadow: 1px 1px 9px $dragon;
  }
  &-ghost {
    box-shadow: 1px 1px 9px $ghost;
  }
  &-psychic {
    box-shadow: 1px 1px 9px $psychic;
  }
  &-rock {
    box-shadow: 1px 1px 9px $rock;
  }
  &-flying {
    box-shadow: 1px 1px 9px $flying;
  }
  &-ground {
    box-shadow: 1px 1px 9px $ground;
  }

  &-fire,
  &-water,
  &-bug,
  &-grass,
  &-fairy,
  &-fighting,
  &-dark,
  &-ice,
  &-normal,
  &-poison,
  &-electric,
  &-steel,
  &-dragon,
  &-ghost,
  &-pshychic,
  &-rock,
  &-flying,
  &-ground {
    background-color: $card-color;
    border-radius: 10px;
    padding: 15px;
  }
}

.type-id-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.type-id {
  display: flex;
  align-items: center;
}

.pokemon-type {
  width: 15px;
  margin-right: 5px;
}

.card-btns-container {
  overflow: hidden;
}

.card-btn {
  height: auto;
  width: 80px;
  margin-bottom: 1px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  transform: translateX(-100%);
  font-weight: 700;
  padding: 0 10px;
}

.poke-value-btn {
  animation-delay: 0s;
  background-color: $pokedollar-color;
  display: flex;
  align-items: center;
}

.card-btns-container img {
  width: 12px;
  margin-right: 5px;
}

.poke-buy-btn {
  animation-delay: 0.1s;
  background-color: $buy-btn;
  cursor: pointer;
}

.poke-sell-btn {
  animation-delay: 0.2s;
  background-color: $sell-btn;
  cursor: pointer;
}

.poke-value-btn,
.poke-buy-btn,
.poke-sell-btn {
  animation-name: slide-in;
  transform: translateX(-100%);
  opacity: 0;
}

.card-btn-active {
  animation-name: slide-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.card-btn-inactive {
  animation-name: slide-out;
  animation-duration: 0.5s;
  animation-fill-mode: backwards;
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }

  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}
