// ........................................................... General

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scrollbar-width: none;
    ::-webkit-scrollbar {
        width: 0;
      }
}




// ........................................................... Components

@import './components/filterbar';
@import './components/navigation';
@import './components/digital-card-binder';
@import './components/sidebar';
@import './components/tool-tip';
@import './components/pokemon-card';
@import './components/gamepage.scss';

// ........................................................... Layout

@import './layout/main-container';
@import './layout/game-page-container';


